.menuWrapper {
              position:absolute; 
              width:162px; 
              background-color:#339966; 
              visibility:hidden; 
              border-style:solid; 
              border-width:2px; 
              border-color:#EFEFEF #505050 #505050 #EFEFEF;
              display:block;
              padding:3px; 
             }
.menuItem    {
              cursor:pointer; 
              font-size:12px; 
              font-family:Arial, Helvetica, sans-serif; 
              border-bottom:1px solid #505050; 
              border-top:1px solid #EFEFEF;
              padding-left:10px; 
              color:black; 
              background-color:#339966; 
              text-decoration:none; 
              position:absolute; 
              left:0px; 
              width:159px; 
              height:18px;
              display:block;
              line-height:1.4em
             }
.menuItemOn  {
              cursor:pointer; 
              font-size:12px; 
              font-family:Arial, Helvetica, sans-serif; 
              border-bottom:1px solid #505050; 
              border-top:1px solid #EFEFEF;
              padding-left:10px; 
              color:#000000; 
              background-color:#33ff00; 
              text-decoration:underline; 
              position:absolute; 
              left:0px; 
              width:159px; 
              height:18px;
              display:block;
              line-height:1.4em
             }
