	/* style.css */
	body {
		font-size: 11px;
		font-family: verdana;
	}
	.noshow {
		visibility: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 0px;
		width: 0px;
	}
	.imghover {
		border-style: solid;
		border-width: 2px;
		border-color: #003250;
	}
	
	.imgoff {
		border: none;
		border-style: solid;
		border-width: 2px;
		border-color: #FFFFFF;
	}
	
	.fimghover {
		border-style: solid;
		border-width: 2px;
		border-color: #003250;
	}
	
	.fimghoveryellow {
		border-style: solid;
		border-width: 2px;
		border-color: #FFCC00;
	}
	
	.fimgoff {
		border: none;
		border-style: solid;
		border-width: 2px;
		border-color: #F2F2F5;
	}