div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #c0c0c0;
  margin:0;
  margin-top: 1px;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: Navy;color:white;font-weight:bold;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding-left:5px;
  cursor:pointer;
  height: 14px;
  font-size: 11px;
  color: Navy;
}
